<template name="login">
  <div class="loginCon">
    <div class="loginTitle">Login</div>
    <div class="fieldCon">
      <div class="loginText">
        Username
      </div>
      <input class="username" />
      <div class="loginText">
        Password
      </div>
      <input class="password" type="password"/>
      <button class="loginBttn">login</button>
    </div>
    </div>

    <div class="firstCreateModal">
      <input class="secretPhrase" placeholder="secret phrase"/>
      <button class="secretPhraseBttn">UNLOCK</button>
    </div>
</template>
