<template name="nav">
  <div class="nav">
    <div class="button" id="home">
      HOME
    </div>
    <div class="button" id="about">
      ABOUT
    </div>
    <div class="logo">
      <script>
      //this is faster than waiting on a DB connect
        if($('meta[name=tabard]').attr("content") != 'blessed'){
          $('#daLogo').attr('src', $('meta[name=tabard]').attr("content"))
          $('#daLogo').attr('title', document.title)
        }
      </script>
      <img src="/tabard.png" title="Blessed Ignorance" id="daLogo"/>
    </div>
    <div class="button" id="streams">
      STREAMS
    </div>
    <div class="button" id="apply">
      APPLY
    </div>
  </div>
</template>
